.header-bg {
  background-color: var(--p1);
}

.menu {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a {
  margin: 0 10px;
}

.menu-nav a:hover {
  color: var(--p2);
}

.menu-lista {
  display: flex;
  flex-wrap: wrap;
}

.menu-lista a {
  display: block;
  padding: 10px;
}
