#produtos .titulo {
  margin: 0 10px 60px 10px;
}

.subtitulo-produtos {
  background: #f7f7f7;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}
