.qualidade {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-titulo {
  margin-bottom: 20px;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-titulo::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-of-type(3n + 1) .qualidade-titulo::before {
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n + 2) .qualidade-titulo::before {
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n + 3) .qualidade-titulo::before {
  background: #66d9eb;
}
