#sobre .titulo {
  margin-bottom: 0.5em;
}

.subtitulo-produtos {
  padding: 60px 20px;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 10px;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}
