#sobre .titulo {
  margin-bottom: 0.5rem;
}

#sobre .texto {
  margin-bottom: 1rem;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0px;
  border-top: 2px solid var(--p1);
  border-bottom: 2px solid var(--p1);
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}
